@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #1f2937;
    color: white;
    font-family: Roboto;
    margin:10%;
    display: flex;
    flex-direction: column;
}





header, main, footer {
    border: 4px solid red;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header-right {
    display: flex;
}


.header-items-right {
    padding: 0px 8px 0px 8px;
}

.header-items-left {
    font-weight: 800;
}

section {
    border:4px solid green;
    min-height:100px;

}

.first-section{
    display: flex;  
    text-align: center;  
    margin: 32px 0px;
    text-align: left;
    justify-content: left;
}

.first-section-header {
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}

.first-section-paragraph {
    margin:0px 0px 0px 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.first-section-button {
    width: 30%;
    margin: 10px 0px;
    border-radius: 6px;
    border-width: 0px;
    font-weight: 600;
    color: white;
    background-color: #3882F6;
    padding: 8px;
}

.website-is-awesome {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
}

.awesome-picture {
    background-color: rgb(32, 26, 122);
    flex: 1 1 0px;

}

.some-random-info-row {
    background-color: #E5E7EB;
    color: #1f2937;
    text-align: center;
    padding: 4px 0px 48px 0px;
}

.some-random-info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.box-row {
    display: flex;
    width: 60%;
    justify-self: center;
}

.box-container {
    justify-items: center;
    display: inline-block;
    text-align: center;
    width: 120px;
    margin: 20px;
}

.img-frame {
    width: 100px;
    height: 100px;
    background-color: grey;

}

.img-text {
    display: block;
}