@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #1f2937;
    color: white;
    font-family: Roboto;
    margin:10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

section {
    border:4px solid green;
    min-height:100px;
}


header, main, footer {
    border: 4px solid red;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header-right {
    display: flex;
}


.header-items-right {
    padding: 0px 8px 0px 8px;
}

.header-items-left {
    font-weight: 800;
}